In [10]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame({'X':[0.40,0.22,0.35,0.26,0.08,0.45],'Y':[0.53,0.38,0.32,0.19,0.41,0.30] })
data.index=['P1','P2','P3','P4','P5','P6']

In [4]:
data

       X     Y
P1  0.40  0.53
P2  0.22  0.38
P3  0.35  0.32
P4  0.26  0.19
P5  0.08  0.41
P6  0.45  0.30

In [5]:
from scipy.spatial.distance import pdist, squareform
dist = pdist(data[['X', 'Y']], 'euclidean')
df_dist = pd.DataFrame(squareform(dist),index=data.index,columns=data.index)
df_dist

          P1        P2        P3        P4        P5        P6
P1  0.000000  0.234307  0.215870  0.367696  0.341760  0.235372
P2  0.234307  0.000000  0.143178  0.194165  0.143178  0.243516
P3  0.215870  0.143178  0.000000  0.158114  0.284605  0.101980
P4  0.367696  0.194165  0.158114  0.000000  0.284253  0.219545
P5  0.341760  0.143178  0.284605  0.284253  0.000000  0.386005
P6  0.235372  0.243516  0.101980  0.219545  0.386005  0.000000

- from this we will take the minimum distances
- we will combine the columns and create new table
- we will again repeat the process untill we get the last cluster

In [6]:
company = pd.read_csv('company.csv')