# K - Nearest Neighbour

- input columns should be numeric
- for predicting one value in test data we will calculate the distance between the neighbours
- we will pick the value that is having the highest percentage value
- It is also called lazy learner since it doesn't do anything on train data and entirely dependent on test data and waiting time   is more

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.preprocessing import StandardScaler

In [3]:
iris = pd.read_csv('iris.csv')
iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [4]:
iris[['Sepal.Length', 'Sepal.Width', 'Petal.Length',
       'Petal.Width', 'Species']].to_csv('iris.csv',index=False)

In [5]:
train,test =train_test_split(iris,test_size=0.3,random_state=100)
train_y =train['Species']
test_y = test['Species']
train_x=train.drop('Species',axis=1)
test_x=test.drop('Species',axis=1)

In [6]:
pred_dict=[]
for i in range(test_x.shape[0]):
    distances = pd.DataFrame(euclidean_distances(test_x[i:i+1], train_x).flatten(), index=train_x.index, columns=['ed'])
    value=train_y.loc[distances.sort_values(by='ed').head(5).index].value_counts().head(1).index.tolist()[0]
    pred_dict.append(value)

In [127]:
df_pred = pd.DataFrame({'actual':test_y,'predicted':pred_dict})
df_pred['pred_status']=df_pred['actual'] ==df_pred['predicted']
dt_accuracy=df_pred[df_pred['pred_status']==True].shape[0] / df_pred.shape[0] *100
dt_accuracy

97.77777777777777

In [130]:
df_pred.head()

        actual  predicted  pred_status
128  virginica  virginica         True
11      setosa     setosa         True
118  virginica  virginica         True
15      setosa     setosa         True
123  virginica  virginica         True

# Standardisation

In [3]:
hr = pd.read_csv('employee_attrition.csv')

In [4]:
hr_dummies =pd.get_dummies(hr)

In [5]:
scaler =StandardScaler()
hr_scaled = scaler.fit_transform(hr_dummies.drop('Attrition',axis=1))
hr_scaled= pd.DataFrame(hr_scaled,columns=hr_dummies.drop('Attrition',axis=1).columns)
hr_scaled['Attrition']=hr['Attrition']

In [11]:
train,test =train_test_split(hr_scaled,test_size=0.3,random_state=100)
train_y =train['Attrition']
test_y = test['Attrition']
train_x=train.drop('Attrition',axis=1)
test_x=test.drop('Attrition',axis=1)

In [12]:
train_x.head(1)

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
178,0.99386,-0.685436,-1.010909,-0.891688,0.0,-1.297507,-0.660531,1.284725,0.379672,0.845911,...,-0.239904,-0.497873,1.873287,-0.244625,1.869602,-0.918921,-0.685565,0.0,0.628241,-0.628241

In [16]:
test_x.head(1)

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
880,-0.539166,-1.701868,0.469821,0.085049,0.0,0.347504,0.254625,0.546627,-1.026167,-0.961486,...,-0.239904,-0.497873,-0.533821,-0.244625,-0.534873,1.088232,-0.685565,0.0,0.628241,-0.628241

In [36]:
pred_dict=[]
for i in range(test_x.shape[0]):
    distances = pd.Series(euclidean_distances(test_x[i:i+1],train_x).flatten())
    distances.index =train_y.index
    neighs=distances.sort_values().head().index.tolist()
    value=train_y.loc[neighs].value_counts().head(1).index.tolist()[0]
    pred_dict.append(value)

In [31]:
df_pred = pd.DataFrame({'actual':test_y,'predicted':pred_dict})
df_pred['pred_status']=df_pred['actual'] ==df_pred['predicted']
dt_accuracy=df_pred[df_pred['pred_status']==True].shape[0] / df_pred.shape[0] *100
dt_accuracy
train_y.value_counts()

0    862
1    167
Name: Attrition, dtype: int64